extends Base

block pageContent
  section#hero-section
    .row
      .small-12.medium-6.large-7.columns
        h1 paperElectron
        h3 Software development and consulting.
      .small-12.medium-6.large-5.columns
        .logo
          img(src="/images/logo_small.png")
    .row
      .small-12.columns
        ul.inline-list
          li
            a(href="http://blog.paperelectron.com") blog
          li
            a(href="https://github.com/PaperElectron") github
  section#software-section
    .row
      h1 Software.
      .small-12.columns
        ul.small-block-grid-1.large-block-grid-3
          li
            .panel
              h2 OctoRP
              p "A respectably rugged, remarkably reliable, reconfigurable, round-robin, reverse proxy."
              p OctoRp is a dynamic reverse proxy that supports evented load balancing and round robin
                | host addressing.
              h4 Multiple Paradigms.
              p OctoRP can be run as a multi site request aggregator serving multiple backends on separate hostnames.
                | Or it cam be run as a single site load balancer, with dynamic addition and removal of backends
                | from a pool of servers.
              h4 SSL Ready.
              p With a wildcard ssl certificate OctoRP can handle TLS termination before passing the request to a
                | backend server on a private network. It can also proxy ssl requests directly to a backend if you prefer
                | to terminate directly on a backend host.
          li
            .panel
              h2 Littoral
              p Is a self hosted example and demonstration server, useful for hosting a large number
               | of totally isolated pages. It supports recursive loading of routes and automatic nesting of pages.
              h4 Database free.
              p Littoral assembles a site structure from the directories you provide, no database needed.
              h4 Easy Customization.
              p Littoral can use any theme you can create, and consists of just a few template files and a css file.

          li
            .panel
              h3 OctoRP
              p is a dynamic reverse proxy that supports evented load balancing and round robin
               | host addressing.

  section#consulting-section
    .row
      h1 Consulting and development focus.
      .small-12.columns
        ul.small-block-grid-1
          li
            .panel
              .row
                .small-6.small-centered.large-3.large-uncentered.columns
                  a.th(href="/")
                    img(src="/images/logo_small.png")
                .small-12.large-9.columns
                  h3 Our focus is on our customers.
                  p However for new projects, we have found the technologies below to be especially
                    | suited for developer productivity, ease of integration and testing, and cost.

          li
            .panel
              .row
                .small-6.small-centered.large-3.large-uncentered.columns
                  a.th(href="https://www.docker.com/")
                    img(src="https://d3oypxn00j2a10.cloudfront.net/0.16.0/img/homepage/docker-logo-cutoff.png", width="200")
                .small-12.large-9.columns
                  h3 Docker
                  p We feel that Docker or something similar to Docker is the future of distributed
                    | computing. Most of the applications we build are either designed to run in Docker,
                    | or support those that are.
          li
            .panel
              .row
                .small-3.columns
                  a.th(href="https://nodejs.org/")
                    img(src="https://nodejs.org/images/logos/nodejs-green.png", width="200")
                .small-9.columns
                  h3 NodeJS
                  p We feel that Docker or something similar to Docker is the future of distributed
                   | computing. Most of the applications we build are either designed to run in Docker,
                   | or support those that are.
          li
            .panel
              .row
                .small-3.columns
                  a.th(href="https://angularjs.org")
                    img(src="https://angularjs.org/img/AngularJS-large.png", width="200")
                .small-9.columns
                  h3 AngularJS
                  p We feel that Docker or something similar to Docker is the future of distributed
                    | computing. Most of the applications we build are either designed to run in Docker,
                    | or support those that are.
